<html>
  <head>
    <title>Hello World</title>
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <style>

      .title {color: red;}

    </style>

  </head>

  <body>
  
    <div id="root"></div>
    <script type="text/babel">
    
      // const cards = <%- cards %>;
      // const cardList = cards.map((card) => <li key={card}><a href={`/api/detail?name=${card.cardName}`}>{card.cardName}</a></li>);
    
      // const MyApp = (props) => { // what will be rendered will be in this MyApp function

      //   console.log(cards);
        
      //   if (props.name) {
          
      //     return <span>
      //             <h1>Hello, {props.name}!</h1>
      //             {cardList}
      //           </span>;
      //   }
      //   else {
      //     return <h1>Hello, Stranger</h1>;
      //   }
      // } // end of MyApp function

      const Cards = (props) => { // props is an array
        const cardList = props.data.map((card) => 
        <li key={card._id} id={card._id} onClick={props.clickHandler}>
          {card.cardName}
        </li>);

        return <ul>{cardList}</ul>;
      }

      const CardDetail = (props) => { // card detail info display -- field name must be same as props.item.stuff
        return <div>Detail<hr/>

          <form>
            Card Name: <input type="text" name="cardName" onChange={props.handleChange} value={props.item.cardName || ""}  /> <br/>
            Mana cost: <input type="text" name="manaCost" onChange={props.handleChange} value={props.item.manaCost || ""} /> <br/>
            Attack stat: <input type="text" name="attackStat" onChange={props.handleChange} value={props.item.attackStat || ""} /> <br/>
            Defense stat: <input type="text" name="defStat" onChange={props.handleChange} value={props.item.defStat || ""} /> <br/>
          </form>

          <button name="clear" onClick={props.clear}>Clear</button>

          </div>;
      }

      class MyApp extends React.Component {
        constructor(props) {
          super(props);
          this.state = {
            items: <%- cards %>,
            currentItem: {}
          };

          this.fieldChange = this.fieldChange.bind(this);
          this.clear = this.clear.bind(this);
        } // end of constructor

        showDetail = (event)  => { // on click function to populate the current item object for the state
          let name = event.target.innerText; // gets the name of card that you clicked on
          let newCard = this.state.items.find((item) => item.cardName == name); // finds card object in array in class constructor state
          this.setState({"currentItem": newCard}); // assigns the current item in this.state with new thing
        }

        fieldChange = (event) => {
          let newItem = this.state.currentItem;
          newItem[event.target.name] = event.target.value;
          this.setState({currentItem: newItem})
        }

        clear = (event) => {
          this.setState({"currentItem": {}}); // resets the fields to nothing
        }

        render() { // render method that will display the whole html page
          return (<div>  
                    <h2>Card Inventory</h2>
                    <Cards data={this.state.items} clickHandler={this.showDetail} />

                    <CardDetail 
                      item={this.state.currentItem}
                      handleChange={this.fieldChange} 
                      clear={this.clear}
                    />
          
                </div>);
        } // end of render

      } // end of MyApp class 

      // const container = document.getElementById('root'); // container gets div with id of root
      // const root = ReactDOM.createRoot(container); // root creates the container as the root DOM
      ReactDOM.render(
        <div><MyApp  /></div>,

      document.getElementById('root')
        
      ); // the user is passing the parameter in function

    </script>
   
  </body>

</html>